
/**********************************************************
 *                    Field Styles
 **********************************************************/

.field {}
.field-label {
background: none repeat scroll 0 0 #F0F0F0;
font-weight: bold;
padding: 2px 6px;
margin: 20px 0 5px;
border-radius: 3px;
}
.field-items {}
.field-item  {}

.node-view .date-display-single  {
background: url("../images/cal.png") no-repeat scroll 0 0 transparent;
color: #555555;
display: block;
font-size: 16px;
font-weight: bold;
line-height: 22px;
margin-bottom: 20px;
padding: 6px 54px;
}

.node-event p, .field-name-field-teaser {
font-size: 18px;
color: #666;
line-height: 24px;
margin-bottom: 20px;
}

/* Field items zebra */
.field-items .odd  {}
.field-items .even {}

/* Labels */
.field-label-above {}
.field-label-inline {}
.field-label-hidden {}

/* File types */
.field-type-text              {}
.field-type-text-with-summary {} 
.node-view .field-type-image  img{
padding: 9px;
background: #fff;
box-shadow: 1px 1px 4px #ccc;
-webkit-box-shadow: 1px 1px 4px #ccc;
margin-bottom: 20px;
}
.node-article .field-type-image img {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #E0E0E1;
box-shadow: 0 0 1px #D7D7D7;
margin-bottom: 20px;
padding: 8px;
}

.field-type-file img {
float: left;
margin: 2px 10px 10px 0;
}

.field-name-field-gallery {
overflow: auto;
clear: both;
}

.field-name-field-gallery .field-item {
float: left;
margin: 10px 20px 10px 0;
}

.field-type-number-decimal    {}
.field-type-number-float      {}
.field-type-number-integer    {}
.field-type-list              {}
.field-type-list-boolean      {}
.field-type-taxonomy-term-reference {
}

/* Default core fields */
.field-name-body {}
.field-name-field-image {}
.field-name-field-tags {}

/* Form display */
form .field-multiple-table {}
form .field-multiple-table th.field-label {}
form .field-multiple-table td.field-multiple-drag {}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {}
form .field-add-more-submit {}

