
/**********************************************************
 *                    Views Styles
 **********************************************************/

/* Front page slideshow */

.view-slideshow {
padding: 16px;
background: #000;
font-family: Baskerville, Georgia, serif;
color: #fff;
font-size: 30px;
line-height: 36px;
font-style: italic;
position: relative;
}

.slideshow-text {
position: absolute;
top: 100px;
right: 0;
width: 450px;
padding: 20px 24px;
background: #000;
}

.slideshow-text p {
margin: 0;
}


/* Calendar widget*/
.view-kalender {
background: #ccc;
width: 290px;
border: 5px solid #fff;
border-radius: 3px;
text-transform: uppercase;
overflow: auto;
}

.page-kalender .view-kalender{
width: 100%;
}

.view-kalender .view-content{
padding: 15px;
}
.view-kalender .views-row {
background: url(../images/line.png)  0 bottom repeat-x;
padding: 15px 0;
}

.view-kalender .views-row-first {
padding-top: 0;
}

.view-kalender .date {
color: white;
font-family: Baskerville, Georgia, sans-serif;
font-style: italic;
font-size: 20px;
line-height: 20px;
}

.view-kalender h3 {
font-size: 14px;
line-height: 20px;
font-weight: bold;
text-shadow: 1px 1px #fff;
}

.view-kalender .view-footer a {
text-indent: -9000px;
background: url(../images/cal-info.png) 0 0 no-repeat;
width: 92px;
height: 23px;
display: block;
float: right;
margin: 0 14px 14px;
}

/* Front page */
.view-hjem .views-row {
width: 300px;
float: left;
}

.view-hjem .views-row-even {
margin-left: 20px;
}

.view-hjem img {
border: 1px solid #ccc;
padding: 4px;
margin-bottom: 10px;
}

.readmore a:link, .readmore a:visited {
background: #1B9ECC;
border: 3px solid #1583AB;
color: #fff;
text-transform: uppercase;
font-family: "Lucida Grande", Arial;
padding: 4px 6px;
font-size: 11px;
line-height: 11px;
}

.hover-more {
    height: 186px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 290px;
}

.hover-more:hover {
background: url("../images/trans-light.png") repeat scroll 0 0;
}

.readmore a:hover {
background: #1583AB;
border: 3px solid #1B9ECC;
}

.hover-more a {
display: none;
}

.hover-more:hover  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 186px;
    background: url("../images/srch.png") no-repeat scroll 117px 59px;
    text-indent: -9000px;
}

