
/**********************************************************
 *                    Views Styles
 **********************************************************/
/* Tags */
.view-tags {
  padding-top: 10px;
}

.view-tags a {
  background: #6EC4E3;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  float: left;
  font-size: 12px;
  margin: 0 2px 2px 0;
  padding: 1px 6px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.view-tags a:hover {
  background: #444444;
  color: #FFFFFF;
  text-decoration: none;
}

#sidebar-second #block-views-tags-block {
  margin-top: 51px;
}

/* Undervisning */
.view-undervisning .image {
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  float: left;
  margin: 0 20px 0 0;
  padding: 8px;
  background: #fff;
}

.view-undervisning .views-row {
  border-bottom: 1px dotted #CCCCCC;
  margin-bottom: 25px;
  padding-bottom: 25px;
  clear: both;
  overflow: auto;
}

.view-undervisning .views-field-field-teaser {
  margin-bottom: 10px;
  font-size: 13px;
}

#views-exposed-form-undervisning-undervisning {
background: #fff;
padding: 10px;
border-radius: 3px
}

#views-exposed-form-undervisning-undervisning .form-text {
  width: 212px;
}

#edit-submit-undervisning {
  margin-top: 1.9em;
}

.page-undervisning .tweets-pulled-listing {
  display: none;
}

/* Front page slideshow */

.view-slideshow {
padding: 16px;
background: #000;
font-family: Baskerville, Georgia, serif;
color: #fff;
font-size: 30px;
line-height: 36px;
font-style: italic;
position: relative;
}

.slideshow-text {
position: absolute;
top: 100px;
right: 0;
width: 450px;
padding: 20px 24px;
background: #000;
}

.slideshow-text p {
margin: 0;
}


/* Calendar widget*/
.view-kalender {
background: #ccc;
width: 290px;
border: 5px solid #fff;
border-radius: 3px;
text-transform: uppercase;
overflow: auto;
}

.page-kalender .view-kalender{
width: 100%;
}

.view-kalender .view-content{
padding: 15px;
}
.view-kalender .views-row {
background: url(../images/line.png)  0 bottom repeat-x;
padding: 15px 0;
}

.view-kalender .views-row-first {
padding-top: 0;
}

.view-kalender .date {
color: white;
font-family: Baskerville, Georgia, sans-serif;
font-style: italic;
font-size: 20px;
line-height: 20px;
}

.view-kalender h3 {
font-size: 14px;
line-height: 20px;
font-weight: bold;
text-shadow: 0 1px #fff;
}

.view-kalender .view-footer a {
text-indent: -9000px;
background: url(../images/cal-info.png) 0 0 no-repeat;
width: 92px;
height: 23px;
display: block;
float: right;
margin: 0 14px 14px;
}

/* Front page */
.view-hjem .views-row {
border-top: 1px solid #CCCCCC;
float: left;
height: 300px;
margin-bottom: 20px;
padding-top: 30px;
position: relative;
width: 300px;
}

.view-hjem .views-row-even {
padding-left: 20px;
}

.view-hjem .views-row-even .hover-more {
left: 25px;
}

.view-hjem .views-row-1, .view-hjem .views-row-2 {
padding-top: 0;
border: 0;
}

.view-hjem .views-row-1 .hover-more, .view-hjem .views-row-2 .hover-more {
  top: 5px;
}

.view-hjem img {
border: 1px solid #ccc;
padding: 4px;
margin-bottom: 10px;
}

.readmore a:link, .readmore a:visited {
background: #1B9ECC;
border: 3px solid #1583AB;
color: #fff;
text-transform: uppercase;
font-family: "Lucida Grande", Arial;
padding: 4px 6px;
font-size: 11px;
line-height: 11px;
display: inline-block;
}

.hover-more {
    height: 186px;
    left: 5px;
    position: absolute;
    top: 35px;
    width: 290px;
}

.hover-more:hover {
background: url("../images/trans-light.png") repeat scroll 0 0;
}

.readmore a:hover {
background: #1583AB;
border: 3px solid #1B9ECC;
}

.hover-more a {
display: none;
}

.hover-more:hover  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 186px;
    background: url("../images/srch.png") no-repeat scroll 117px 59px;
    text-indent: -9000px;
}

/* Sidebar second
 *
 */
#sidebar-second .block-views .block-content {
  background: none;
  padding: 0;
}
